p{
    text-align: center;
    color: green;
    font-size: 30px;
}

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 70%;
}

button{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}